
/* Add font files for Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Light.ttf') format('ttf'),
       url('./assets/fonts/Manrope-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-manrope: 'Manrope', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-0-57-42: rgb(27, 31, 30);
  --text-rgb-136-136-136: rgba(136, 136, 136, 1);
  --text-rgb-174-174-174: rgba(174, 174, 174, 1);
}

.text-black {
  color: var(--text-black);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-0-57-42 {
  color: var(--text-rgb-0-57-42);
}

.text-rgb-136-136-136 {
  color: var(--text-rgb-136-136-136);
}

.text-rgb-174-174-174 {
  color: var(--text-rgb-174-174-174);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 56px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-white);
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.chevron-down-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.nav-link-dropdown-8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.column-7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.column-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.column-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.navbar-1-3 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(0, 57, 42, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.node-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 88px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-0-57-42);
}

.text-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 88px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-0-57-42);
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 32px;
  line-height: 121.00000381469727%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-black);
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-black);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 88px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-0-57-42);
}

.group-1000001869-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-66 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.group-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.vector-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.group-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(58, 170, 53, 1);
  border: none;
  outline: none;
}

.group-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo_01-1-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-1000001870-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 56px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-black);
}

.text-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 56px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.image-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-102 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-103 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-101 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-100 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-98 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-108 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-111 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-107 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-105 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-116 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-117 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-115 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-118 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-114 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-112 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-120 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-123 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.467533111572266px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-124 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24.720779418945312px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-122 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-125 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 21.97402572631836px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-121 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-119 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-127 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-130 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.467533111572266px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-131 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24.720779418945312px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-129 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-132 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 21.97402572631836px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-128 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-126 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-134 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-137 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.467533111572266px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-138 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24.720779418945312px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-136 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-139 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 21.97402572631836px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-135 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-133 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-141 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-144 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-145 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-143 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-146 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-142 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-140 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-148 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-151 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-152 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-150 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-153 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-149 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-147 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-155 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-158 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-159 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-157 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-160 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-156 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-154 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-162 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-165 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-166 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-164 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-167 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-163 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-161 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-169 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-172 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-173 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-171 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-174 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-170 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-168 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.image-176 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-179 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 27.792207717895508px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-180 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 25.01298713684082px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.title-178 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-181 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 22.233766555786133px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-177 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-175 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 23.99103139013453%;
}

.group-1000001886-97 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-184 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 32px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-57-42);
}

.frame-63-183 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 25px 20px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-186 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 32px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-136-136-136);
}

.frame-64-185 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 25px 20px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-11-187 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 57, 42, 1);
  border: none;
  outline: none;
}

.group-1000001866-182 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-188 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-190 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-192 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-69-191 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 84.54545454545455%;
  border: 2px solid rgba(0, 0, 0, 1);
}

.text-194 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-71-193 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 84.54545454545455%;
  border: 2px solid rgba(0, 0, 0, 1);
}

.text-196 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-72-195 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 84.54545454545455%;
  border: 2px solid rgba(0, 0, 0, 1);
}

.text-198 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.button-197 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
}

.frame-1000001891-189 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 68px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-203 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-white);
}

.logo-202 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-201 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.text-206 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-207 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-174-174-174);
}

.frame-171-205 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-209 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-210 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.frame-172-208 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-212 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-215 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-216 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-214 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-217 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.group-1000001888-213 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-219 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-221 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-220 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-1000001889-218 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-222 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.frame-173-211 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-174-204 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 116px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-175-200 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-176-199 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 68px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 57, 42, 1);
}

.text-227 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.content-226 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-title-225 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-224 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24.196720123291016px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.text-229 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.button-228 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
}

.frame-1000001893-223 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-231 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-manrope);
  font-weight: normal;
  font-size: 24px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.button-230 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px 15px 25px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
}

.header-1-1 {
@media (max-width: 1440px) {
  .header-1-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .header-1-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  width: NaN%;
  background-color: rgba(255, 255, 255, 1);
}
